
.titulo__personaje{
   display: flex;
   justify-content: center;
}

.contenedor__filtro{
    display: flex;
    flex-direction: column;
    .contenedor__subtitulo{
        align-self: start;
        .subtitulo__personaje{
            font-weight: bold;
            color: #07162d;
            font-size: 2em;
        }
    }
}
