*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto',Helvetica,Arial,Lucida,sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style: none;
}

